/* -------------------- */
/*  display related     */
/* -------------------- */

.display-block {
    display: block;
}
.display-inline-block {
    display: inline-block;
}
.display-inline {
    display: inline;
}
.display-hide {
    display: none;
}

.cursor-pointer {
    cursor: pointer;
}

.normal-spacer-right {
    padding-right: 4px;
}